-i https://pypi.org/simple
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
bidict==0.23.1; python_version >= '3.8'
blinker==1.8.2; python_version >= '3.8'
bs4==0.0.2
certifi==2024.7.4; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
dnspython==2.6.1; python_version >= '3.8'
eventlet==0.37.0; python_version >= '3.7'
flask==3.0.3; python_version >= '3.8'
flask-cors==4.0.1
flask-socketio==5.3.6; python_version >= '3.6'
greenlet==3.1.1; python_version >= '3.7'
gunicorn==22.0.0; python_version >= '3.7'
h11==0.14.0; python_version >= '3.7'
idna==3.7; python_version >= '3.5'
importlib-metadata==8.0.0; python_version >= '3.8'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.4; python_version >= '3.7'
letterboxdpy@ git+https://github.com/nmcassa/letterboxdpy.git@9ac7d0c4c66822e10a9a18011cfe8156dcf7640e
lxml==5.2.2; python_version >= '3.6'
markupsafe==2.1.5; python_version >= '3.7'
packaging==24.1; python_version >= '3.8'
python-dotenv==1.0.1; python_version >= '3.8'
python-engineio==4.9.1; python_version >= '3.6'
python-socketio==5.11.3; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
simple-websocket==1.0.0; python_version >= '3.6'
soupsieve==2.5; python_version >= '3.8'
urllib3==2.2.2; python_version >= '3.8'
werkzeug==3.0.3; python_version >= '3.8'
wsproto==1.2.0; python_full_version >= '3.7.0'
zipp==3.19.2; python_version >= '3.8'
